@import "tailwindcss";

@layer base {
    body {
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}
