@import "tailwindcss";

@layer base {
    body {
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .btn {
        @apply inline-flex items-center justify-center font-medium rounded-md transition-colors cursor-pointer
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2
        disabled:opacity-50 disabled:pointer-events-none;
    }
}
